li,a,button{
	font-family:Arial;
	font-weight:500;
	font-size:16px;
	color:000;
}




body{
	background-color:#0A0D0D ;

	text-align: center;
	font-family:  "monaco", monospace;

	
}

.nav{
	margin-top:25px;
	margin-left:25px;
	float:left;
	
	
}


.item{
	margin-top:15px;
	margin-right:15px;
	margin-bottom:15px;
	float:left;
	text-decoration:none;
	color:#000;
}


.footer{
	width:100%;
	text-align:center;
	display: inline-block;
	font-size:15px;
	font-family: "Arial";
	height:300px;
	background-color:#1a1a1a;
}
.footerlogo{
height:70px;
width:70px;
}

.table{
	border-collapse: collapse;
	background-color: #fff;
	border-radius:8px;
	#box-shadow:0px 10px 30px 5px rgba(0,0,0,0.1);
	margin: 25px auto;0d0d0d
	font-family: "Arial";
	text-align: center;
	float:center;
}	
.table tr{
	
	border-bottom: 1px solid #d3d3d3;
	
}
.table thead tr{
	font-weight: bold;
}
.sortable thead {
	margin:10px;
	
}
.header{
	width: 100%;
    position: fixed;
    top:0;
	left:0;
	right:0;
	align-items: center;
	#background-color:#0d0d0d;
	background-image:linear-gradient(to bottom,#000,#1a1f20);
	z-index: 9;
	height:80px;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);

	
	
}




.navitem{
	margin:5px;
	transition: all 0.3s ease 0s ;
	text-decoration: none;
	color:#f5fafa;
	display:inline-table;
	vertical-align:middle;
	font-size:15px;
			
		}
		

		.maincont{
		background-color:#fff;height:300px; border-radius: 5px; width:48%;display:inline-block;float:left;
		margin:11px;	
			
		
			
			
		}
		
		
		.chartcont{
		background-color:#FFF;height:100%; border-radius:8px; width:70%;display:inline-block;float:right;
		margin-top:px;	
		
			
			
		}
		.topcont{
			width:50%;
			
		}
		
		.subheadtcontent{font-size:15px; font-family:arial; text-align:left; margin:15px; color:#333333; }
		.h1{font-size:20px; font-family:arial; text-align:left; margin:15px; color:#f5fafa; }
		.h2{font-size:14px; font-family:arial;  text-align:justify; margin:0px; color:#f5fafa;font-weight:bold; }
		.h3{font-size:17px; font-family:arial; text-align:justify; margin:0px;margin-left:0px; color:#333333; }
		.row{width:100%; height:10px; background-color:; margin-left:10px; display:inline-block;text-align:center; }
		.row1{width:100%; height:30px; background-color:; margin-top:10px; display:inline-block;text-align:center; }
		.division{height:20px;width:20%;float:left;margin-left:20px;	}	
		.h4{font-size:15px; font-family:arial; text-align:left; margin:15px; color:grey; }
		.alertcontent{font-size:15px; font-family:arial; text-align:justify; margin:15px; color:#333333; }
		.h5{font-size:45px; font-family:arial; text-align:left; margin:5px; color:#f5fafa; }
		.subhead{background-color:;height:100px; border-radius: 5px; width:100%;display:inline-block;text-align:center;margin-top:8px;	}
			
		.alertcont{border-left:solid 2px red;height:150px; border-radius:0px; width:100%;display:inline-block;text-align:center;margin-top:20px;margin-bottom:20px;	}
		.chartoutline{background-color:#FFF;height:230px; border-radius: 8px; width:60%;display:inline-block;text-align:center;margin-top:8px;	}
		.pricecont{border-left: 3px solid red; height:150px;margin-top:px; width:80%; display:inline-block; text-align:center;}
		.menu{text-align:center;display: inline-block;width:80%; margin-top:15px;}
		.side{width:60%; display:inline-block; text-align:center; background-color:;}
		.basic{font-size:16px; font-family:arial; float:left; color:#333333;font-weight:; margin:10px;  }
		.basiccont{ background-color:;float:left; height:100%; width:330px;}
		.divide{background-color:;float:left; height:100%; width:50%;}
		.paragraph{background-color:;float:left; height:100%; width:50%; margin-left:15px;}

		.container{
	background-color:;
	height:50px;
	padding-top:120px;
	padding-bottom:25px;
	display:inline-block;
	text-align:center;
	width:80%;

}
.ider{
		
		border: none; background-color:red; height:2px; width:80%;'
	}

.searchcont{width:80%; display:inline-block; text-align:center;  margin-top:20px;}
@media (max-width:828px){
	
	
	
	.divider{ width:25%; height:100%;float:left;} 
	.between{width:100%; height:100px; background-color:#; border-radius:8px; margin-bottom:25px;}
	.caption{text-align:left; font-family: "Arial"; color:#f5fafa;}
	.boxtable tr td{font-size:25px;}
	.boxtable tr td{color:#cccccc; border:none;padding: 10px 30px;}
	.boxtable thead{font-weight: ;border-bottom:none;color:#;}
	.boxtable{width:100%; text-align:center;display:inline-block;margin:10px;
	font-family: "Arial";
	text-align: left;
	border-collapse: collapse;}
	.boxtitle{font-size:18px; font-family:arial; color:#f5fafa; float:left; margin:15px;}
	.stats{width:100%; height:300px; background-color:#; border-radius:8px; margin-bottom:25px;}
	.searchcont{width:100%; display:inline-block; text-align:center;  margin-top:20px;}
	.container{
	background-color:;
	height:50px;
	padding-top:120px;
	padding-bottom:25px;
	display:inline-block;
	text-align:;
	width:100%;

}

	.ider{
		
		border: none; background-color:red; height:2px; width:100%;'
	}
		
		.navitem{
			margin:5px;
			transition: all 0.3s ease 0s ;
			text-decoration: none;
			color:#fff;
			display:inline-table;
			vertical-align:middle;
			font-size:12px;
			
		}
		

		.maincont{
		background-color:#fdfdfd;height:350px; border-radius: 5px; width:100%;display:inline-block;text-align:center;
		margin-top:8px;	
		
			
			
		}
		
		
		.chartcont{
		background-color:#fdfdfd;height:220px; border-radius: 8px; width:95%;display:inline-block;text-align:center;
		margin-top:8px;	
		
			
			
		}
		.topcont{
			width:50%;
			
		}
		.subheadtcontent{font-size:15px; font-family:arial; text-align:left; margin:15px; color:#333333; }
		.h1{font-size:30px; font-family:arial; text-align:left; margin:15px; color:#333333; }
		.h2{font-size:17px; font-family:arial;  text-align:justify; margin:0px; color:#333333;font-weight:bold; }
		.h3{font-size:15px; font-family:arial; text-align:justify; margin:0px;margin-left:0px; color:#333333; }
		.row{width:95%; height:30px; background-color:; margin-top:0px; display:inline-block;text-align:center; }
		.division{height:20px;width:20%;float:left;margin-left:20px;	}	
		.h4{font-size:15px; font-family:arial; text-align:left; margin:15px; color:grey; }
		.alertcontent{font-size:15px; font-family:arial; text-align:justify; margin:15px; color:#333333; }
		.h5{font-size:45px; font-family:arial; text-align:left; margin:5px; color:#333333; }
		.subhead{background-color:;height:100px; border-radius: 5px; width:100%;display:inline-block;text-align:center;margin-top:8px;	}
			
		.alertcont{border-left:solid 2px red;height:150px; border-radius:0px; width:100%;display:inline-block;text-align:center;margin-top:20px;margin-bottom:20px;	}
		.chartoutline{background-color:#fdfdfd;height:230px; border-radius: 8px; width:100%;display:inline-block;text-align:center;margin-top:8px;	}
		.pricecont{border-left: 3px solid red; height:150px;margin:0px; width:100%;}
		.menu{text-align:center;display: inline-block;width:100%;}
}

		




.white{font-size:22px; font-family:arial;  margin-bottom:20px; color:#f2f2f2;font-weight:bold; }




.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;

  padding: 1px;
  float:right;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.logo{
	height:90%;

	margin-top:0px;
	float:left;
	margin:0px;
	cursor:pointer;
	
}
.logotext{
	color:#000;
	font-size:18px;
	font-family:Arial;
	text-align:left;
	margin-top:0px;
	float:left;
	margin:0px;
	line-height:70px;
	padding-left:0px;
	
}
.search{
	width:300px;
	height:30px;
	float:left;
	margin:0px;
	border-radius:3px;
	border-width: 0.3px 0.3px 0.3px 
}
.gainers td {
	
	padding-bottom:10px;
	padding-right:10px;
}
.nav__links{
	list-style:none;
	
	
}
.nav__links li {
	display:inline-block;
	padding:0px 20px;
	
}

.nav__links li a {
	transition: all 0.3s ease 0s ;
	text-decoration: none;
	color:#000;
}
.nav__links li a:hover{
	color:rgba(255,0,0,0.8);
	
}

button{
	color:#fff;
	padding:9px 25px;
	background-color:rgba(255,0,0,0.8);
	border:none;
	border-radius:50px;
	cursor:pointer;
	transition: all 0.3s ease 0s ;
}
button:hover{
		background-color:rgba(255,0,0,0.4);
	
}

.tweets{
	float:left;
	
	
}
.companylogos{
	 width: 25%;
		object-fit: contain;
    
	
	
}

.box{
width: 200px;
height: 100px;
padding-top:20px;
text-align:center;
box-shadow:0px 10px 30px 5px rgba(0,0,0,0.1);
border-radius:8px;
}

.logofeed{
	height:50px;
	width:50px;
	margin-top:0px;
	float:center-left;
	margin:0px;
	cursor:pointer;
	
	
}

.notice{
	font-weight: ;
	font-size:12px;
	font-family: "Arial";
	color:#d3d3d3;
	display:inline-block;
	
}

.feed{
	text-align:left;
	border-bottom: 1px solid #d3d3d3;
	width:60%;
	margin: 0 auto;
	float:center;
}


.feedname{
	color:#d3d3d3;
	font-family: "Arial";
	
	
}
.yolo{
	font-family: "Arial";
	font-weight: ;
	
}

.head{
	font-weight:Bold ;
	font-size:40px;
	text-align:left;
	font-family: "Arial";
	color:#f5fafa;
}


.container1{
	
	background-color:;
	height:100px;
	padding-top:px;
	padding-bottom:50px;
	display:inline-block;
	text-align:center;
	width:90%;

}
.topstocks{
	height:110px;
	padding-top:80px;
	padding-bottom:50px;
	width:60%;
	display:inline-block;
	text-align:center;
}

.topstocksheader{
	font-weight:normal;
	font-size:40px;
	text-align:left;
	font-family: "Arial";
	
	
}
.topstocksheader1{
	font-weight:normal;
	font-size:20px;
	text-align:left;
	font-family: "Arial";
	
	
}
.topstockscontent{
	font-weight:normal;
	font-size:17px;
	text-align:left;
	font-family: "Arial";
	
	
}
.sub{
	font-weight:normal;
	font-size:20px;
	text-align:left;
	font-family: "Arial";
	color:#bfbfbf;
	
	
}

.market{
width: 100%;
height:500px;
box-shadow:0px 10px 30px 5px rgba(0,0,0,0.1);
border-radius:8px;
	
	
}

.movers{
	font-weight:Bold ;
	font-size:20px;

	
	font-family: "Arial";
	
}


.subtable{
	border-collapse: collapse;
	background-color: #fff;
	width:90%;
	border-radius:0px;
	box-shadow:0px 10px 30px 5px rgba(0,0,0,0.1);
	margin: 25px auto;
	font-family: "Arial";
	text-align: left;
}



.font1{
src: url('WWW.facebook.com');
font-family:'MutatorSans';
font-style: normal;
}
.sortable tr, td{
color:#cccccc;
border-bottom:1px solid #333333 ;
padding: 15px 7px;	

}
.link{
	float:left;
	text-decoration:none;
	color:#cccccc;
	
	
}
	

	
}
.sortable thead{
font-weight:Bold ;
border-bottom:1px solid;
color:#f5fafa;


}


.sortable{
	color:#cccccc;
	border-collapse: collapse;
	background-color: #1a1f20;
	width:80%;
	border-radius:8px;
	#box-shadow:0px 10px 30px 5px rgba(0,0,0,0.1);
	margin: 20px auto;
	font-family: "Arial";
	text-align: left;
	overflow:auto;
	
}


.cont{
	align-items:left;
	
	
}

.change{
	padding-left:20px;
	font-weight:Bold ;
	font-size:25px;
	font-family: "Arial";
	float:left;
	
	
	
}
.forecast{
	padding-left:10px;
	font-weight:Bold ;
	font-size:25px;
	font-family: "Arial";
	float:left;
	
	
	
}


.price{
	padding-left:10px;
	font-weight:Bold ;
	font-size:25px;
	font-family: "Arial";

	text-align:left;
	
	
}

.exchange{
	padding-left:10px;
	font-weight:Bold ;
	font-size:15px;
	font-family: "Arial";
	color:#d3d3d3;
	text-align:left;
	
	
}

.name{
	padding-left:10px;
	font-weight:Bold ;
	font-size:25px;
	font-family: "Arial";
	padding-top:100px;
	text-align:left;
	
	
}
.overview td{border-bottom: 1px solid #d3d3d3;	padding: 10px 10px;}
.overview{
	border-collapse: collapse;
	background-color: #fff;
	width:25%;
	margin-left:25px;
	font-family: "Arial";
	text-align: center;
	float:left;
	
}
.indicators td{border-bottom: 1px solid #d3d3d3;	padding: 10px 10px;}
.indicators{
	
	border-collapse: collapse;
	background-color: #fff;
	width:25%;
	
	margin-left:25px;
	font-family: "Arial";
	text-align: center;
`	float:left;
	
}
.summ{	
	width:60%;
	margin-left:25px;
	font-family: "Arial";
	text-align: center;
`	float:left;
	padding-bottom:50px;
}
.gainers{
	border-collapse: collapse;
	background-color: #fff;
	border-radius:8px;
	margin:auto;
	font-family: "Arial";
}

.top{
	width:100%;
	text-align:center;
	
}

.title{
	font-weight:Bold ;
	font-size:15px;
	font-family: "Arial";

	
}
.overviewtable{
	border-collapse: collapse;
	background-color: #fff;
	border-radius:1px;
	#box-shadow:0px 10px 30px 5px rgba(0,0,0,0.1);
	margin-right:19px ;
	font-family: "Arial";
	float:left;
	width:32%;
	
}


.overviewtable td{
padding: 5px 5px;
}



.overviewtable thead{
font-weight:Bold ;

}
.overviewtable td{

font-size:15px;
}



.box4{
	background-color:white;
	border-width:2px;
	border-color:none;
	width:100%;
	border-radius:px;
	text-align:center;
	display: inline-block;
}
.box3{
	background-color:;
	border-width:2px;
	border-color:none;
	width:80%;
	border-radius:8px;
	text-align:center;
	display: inline-block;
}
.box4{
	border-width:2px;
	border-color:none;
	margin:25px;
	width:20%;
	#box-shadow:0px 10px 30px 5px rgba(0,0,0.1,0.1);
	border-radius:8px;
	display: inline-block;
}
.box5{
	text-align:center;
	display: inline-block;
	width:50%;
}

.off{
float:left;	
margin-right:110px;
margin-left:110px;
	
	
}
.subtable1{
	#border-collapse: collapse;
	#background-color: #fff;
	width:90%;
	border-radius:1px;
	#box-shadow:0px 10px 30px 5px rgba(0,0,0,0.1);
	margin: 25px auto;
	font-family: "Arial";
	display:inline-table;
	text-align:center;
}
	
	
.subtable1 td tr{
	padding: 10px 10px;
	
}

.head1{
	font-weight:Bold ;
	font-size:30px;
	text-align:left;
	font-family: "Arial";
	color:#f5fafa;
	
}

  meter {
        width: 100px;
        height: 20px;
		margin-left:8px;
      }
      meter::-webkit-meter-bar {
        background: none;
        background-color: #1a1f20;
  
      }
      meter::-webkit-meter-optimum-value {
      
        background-color:#00e673;
        background-size: 100% 100%;
      }
	meter::-webkit-meter-suboptimum-value {
      
        background-color:#ff1a1a;
        background-size: 100% 100%;
      }
